/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
 
body {
	background: #E6E6E6 !important;
	
	}
	
p, a, td, li {
	font-family: 'PT Sans', sans-serif !Important;
	}

h1 {
	font-size:2.2em !important;
	}
	
h1, .sidebar h2 {
	font-family: 'Cinzel', serif !Important;
	}

h1, h2, h3, h4, h5, h6 {
	margin-top:0 !important;
	}
	
	h1{
		color:#0059A1 !important;
		}
	
	
	.sidebar h2 {
		color:#7BBA58 !important;
		}

.container a:link {
	color:#315593;
	}

a, a:link, a:visited{
	text-decoration:none !important;
	}

.wrapper{
	background-color: white;
}

.top {
	background:#0059A1;
	padding:5px 0;
	float:left;
	margin-bottom:10px;
/*	border-left:#FFF 15px solid;
	border-right:#FFF 15px solid;*/
	}
	
.logo-ucr {
	float:left;
	}
	
.search{
	padding-top:15px;
	}

.top-icons {
	padding-top:10px;
	}
	
#block-block-10 {
	float:right;
	}

.sidebar {
	padding-top:20px;
	}
	
	.sidebar .block {
		margin-bottom:30px;
		}

.view-display-id-block_1 ul{
	padding:0 !important;
	}
	
	.view-display-id-block_1 ul li{
	padding:0 0 6px 0!important;
	}

	
	.sidebar ul li{
		list-style:none;
		padding:0 0 8px 11px !important;
		background:url(../images/sidebar-li.gif) no-repeat 0 7px;	
		}
		
		.sidebar .nav>li>a {
			padding:0 !important;
			}

#superfish-1-select {
	width:100%;
	margin:5px 0;
	padding:5px 0;
	}

.navbar{
	border-radius:0 !Important;
	}

#nav .nav>li{
	float:left;
	}
	
	ul#superfish-1 {
		margin-top: 10px;
		float:right;
		}

	ul#superfish-1 li a{
		float:left;
		color:#0059A1;
		font-size:1.3em;
		margin:10px;
		padding:8px 10px;
		border-bottom: 2px #0059A1 solid;
		}

		ul#superfish-1 li ul li a{
			border:none;
		}
		
	ul#superfish-1 li a:hover{
		float:left;
		background:#0059A1 !important;
		color:#FFF !important;
		}

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
background: none !important; 
}			

#slider, #icons{
	float:left;
	}
	
	
	
	#icons .icon {
		background:#0059A1;
		margin-bottom:5px;
		}
	
	#block-views-slider-noticias-principal-block{
	width: 100% !important;
	height: auto !important;
	}
	
	.flexslider .slides img {
		width:100% !important;
		height:100%
		}
	
	.flexslider .views-field-field-imagen {
		
		}
	
	.flexslider .views-field-field-imagen img{
	width: 100% !important;
	height:auto !important;
	}

	.flexslider {
		margin: 0 !important;
		border: 0px solid #fff !important;
		border-bottom: 3px solid #fff !important;
		position: relative;
		-webkit-border-radius: 0px !Important;
		-moz-border-radius: 0px !Important;
		-o-border-radius: 0px !Important;
		border-radius: 0px !Important;
		-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0) !Important;
		-moz-box-shadow: 0 0px 0px rgba(0,0,0,0) !Important;
		-o-box-shadow: 0 0px 0px rgba(0,0,0,0) !Important;
		box-shadow: 0 0px 0px rgba(0,0,0,0) !Important;
		zoom: 1;
	}
	
	.flexslider li {
		max-height:292px;
		background: #008ec2;
		}
		
		.not-front .flexslider li {
			max-height:300px !important;
			}
	
	.flex-caption {
		background:url(../images/bkg-trans-white.png) repeat;
		margin-top:-130px;
		width:450px;
		min-height:100px;
		padding:10px;
		float:right;
		position:relative;
		right:0;
		}	
		
		.caption {
			border-left:#FAB807 3px solid;
			float:left;
			padding-left:10px;
			}
		
		.flex-caption h3{
			color:#0059A1;
			font-weight:bold;
			font-size:1.5em;
			margin:0 0 5px 0 !important;
			}
			
		.flex-caption p{
			color:#666;
			font-size:1.1em;
			}	
			
.slider-info {
	background:#008ec2;
	}
	
	.slider-info h3 {
		border-bottom:#FAB807 3px solid;
		margin-top:15px !important;
		}
	
		.slider-info h3 a{
			color:#FFF !important;
			}
		
	.slider-info p{
		color:#FFF !important;
		}			
			
.features-1 .view-content {
	border-left:#7BBA58 5px solid;
	}	

.main-content {
	padding-top:20px;
	}

.main-content .view-noticias .views-row{
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.secciones .views-row {
	min-height:240px;
	}

.webform-client-form {
	padding:20px 0;
	}
	
	.btn-primary {
		margin:0;
		}


/*Galeria*/
.node-galeria-de-imagenes .field-name-body{clear: both; padding: 20px 0;}

.field-name-field-imagenes{clear: both;}

.imagenes-galeria .views-row {
	min-height:200px;
	}

	.imagenes-galeria .views-row h3{
		font-size:1.3em;
		}

.node-type-galeria-de-imagenes .field-item{
	float:left;
	margin:0 30px 30px 0;
	}

.node-article .field-name-field-image {
	margin-bottom:25px;
	}

/*Blocks*/
.view-evento-destacado img {
	width:100%;
	height:100%;
	}

.block .secciones {
	margin-top:40px;
	}


.main-content #block-menu-menu-estudiantes-menu h2{
	display:none !important;
	}	

.main-content .block .secciones  {
	border-top: #DFB134 2px solid;
	padding-top: 15px;
	clear: both;
	}
	
#block-block-6 img {
	width:80px;
	}

#block-views-calendar-block-2 {
	height:180px;
	background:#7BBA58;
	color:#FFF;
	padding:10px;
	}

	#block-views-calendar-block-2 h3 {
		margin:0 0 5px 0 !important;
		padding:0 !important;
		}
	
	#block-views-calendar-block-2 h3 a{
		font-family: 'Cinzel', serif !Important;
		font-size:0.9em !important;
		}

	
	.event-list ul {
		padding:0;
		margin:0px 20px;
		}
	
	.event-list a{
		color:#FFF !important;
		}
		
	.event-list .date-display-single {
		font-size:0.9em;
		}
		

	td.multi-day a {
		color:white !important;
	}
#block-views-calendar-block-2 .more-link {
	position: absolute;
	right: 0;
	z-index: 10;
	top: 0;
	height: 180px;	
	}
	
	#block-views-calendar-block-2 .more-link a{
		height: 180px;
		width:20px;
		display:block;
		background:#6FB449 url(../images/go.png) no-repeat center center;
		text-align:center;
		color:#6FB449 !important;
		}
		
	#block-views-calendar-block-2 .more-link a:hover{
		background:#66A743 url(../images/go.png) no-repeat center center;
		}

.secciones .views-field-field-image img{
	width:100%;
	height:100%;
	}
		
.menus {
	margin-top:30px;
	}
	
	.menus h2 {
		font-family: 'Cinzel', serif !Important;
		color:#7BBA58 !important;
		font-size:1.3em;
		border-bottom:#7BBA58 1px solid;
		}
		
	.menus a {
		color:#FFF !important;
		font-weight:bold !important;
		}

/*Menu colors*/
.menus #block-menu-menu-acci-n-social li a {
	background:#315593;
	border-bottom:#FFF 1px solid;
	}
	
	.menus #block-menu-menu-acci-n-social li a:hover {
		background:#1F4377;
		}	
		
.menus #block-menu-menu-docencia li a {
	background:#82B8D7;
	border-bottom:#FFF 1px solid;
	}
	
	.menus #block-menu-menu-docencia li a:hover {
		background:#5796B2;
		}	 
	
.menus #block-menu-menu-estudiantes-menu li a {
	background:#89B05D;
	border-bottom:#FFF 1px solid;
	}
	
	.menus #block-menu-menu-estudiantes-menu li a:hover {
		background:#6E8E46;
		}	 
	
.menus #block-menu-menu-carreras li a {
	background:#DFB134;
	border-bottom:#FFF 1px solid;
	}
	
	.menus #block-menu-menu-carreras li a:hover {
		background:#D3902B;
		}

#block-menu-menu-men-otros{padding-top: 25px;}

.menus #block-menu-menu-men-otros li a {
	background:#599FCA;
	border-bottom:#FFF 1px solid;
	}
	
	.menus #block-menu-menu-men-otros li a:hover {
		background:#31749B;
		} 


/*Infografias*/
.view-infografias .views-field-field-banner-principal {
	margin-top: 10px;
}

	.view-infografias .views-field-field-banner-principal img {
		width: 100%;
		height: 100%;
	}	

.features {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Overrides*/
.sf-menu.sf-style-simple.sf-horizontal > li {
	border:none !important;
	}
	
	.sf-menu.sf-style-simple a, .sf-menu.sf-style-simple a:visited{
		text-shadow: 0 0 0 #ffffff !important;
		}

	.sf-menu.sf-style-simple a > .sf-sub-indicator {
		display:none;
		}
		
	.sf-menu.sf-style-simple li {
		background:url(../images/bkg-trans-white.png) repeat !important;
		}

	.sf-menu.sf-style-simple.sf-vertical li, .sf-menu.sf-style-simple.sf-horizontal li li, .sf-menu.sf-style-simple.sf-navbar li li li {
		border: none !important;
	}
	
	ul#superfish-1 li a {
		margin:10px 15px;
		}
		
		ul#superfish-1 ul li a {
			margin:3px !important;
		}

.sf-menu.sf-style-simple.sf-horizontal.sf-shadow ul, .sf-menu.sf-style-simple.sf-vertical.sf-shadow ul, .sf-menu.sf-style-simple.sf-navbar.sf-shadow ul ul {
margin-top: 5px;
padding: 0 8px 7px 0 !important;
-webkit-border-top-right-radius: 0 !important;
-webkit-border-bottom-left-radius: 0 !important;
-moz-border-radius-topright: 0 !important;
-moz-border-radius-bottomleft: 0 !important;
border-top-right-radius: 0 !important;
border-bottom-left-radius: 0 !important;
}

.sf-menu.sf-style-simple.sf-vertical li.last, .sf-menu.sf-style-simple.sf-horizontal li li.last, .sf-menu.sf-style-simple.sf-navbar li li li.last, .sf-menu.sf-style-simple li.sf-total-children-1 > ul > li.first {
-webkit-border-top-right-radius: 0 !important;
-webkit-border-bottom-left-radius: 0 !important;
-moz-border-radius-topright: 0 !important;
-moz-border-radius-bottomleft: 0 !important;
border-top-right-radius: 0 !important;
border-bottom-left-radius: 0 !important;
}

/*Blocks*/
/*.page-node #block-system-main #block-menu-menu-estudiantes-menu ul.menu li a, .page-node #block-system-main #block-menu-menu-comunidad ul.menu li a, .page-node #block-system-main #block-menu-menu-funcionarios ul.menu li a {
	background:#61C4E8;
	color:#FFF !important;
	width:18%;
	text-align:center;
	float:left;
	margin:2%;
	min-height:60px;
	}*/

/*Node*/

.page-node-5 .row {
	padding-bottom:20px;
	}


.view-galeria-multimedia .views-row {
	min-height:240px;
	}
	
	.view-galeria-multimedia .views-row h3 {
		font-size:1.3em !important;
		padding:5px;
		}

.galerias {
	padding-bottom:25px;
	}
	
.node-noticias .field-name-field-imagen img {
	width:100%;
	height:100%;
	padding-bottom:10px;
	}
	
.node-noticias .field-name-field-photo-footer {
	font-size:0.9em;
	font-style:italic;
	color:#666;
	border-bottom:#CCC 1px solid;
	padding-bottom:5px;
	margin-bottom:20px;
	}
	
.node-noticias .field-name-post-date, .node-noticias .field-name-field-autor, .node-noticias .field-name-field-categoria-noticias {
	float:left;
	font-size:0.9em;
	color:#666;
	margin-bottom:10px;
	} 

.node-noticias .field-name-post-date {
	padding-right:10px;
	border-right:#CCC 1px solid;
	}
	
.node-noticias .field-name-field-autor{
	padding-left:10px;
	}
	
.node-noticias .field-name-field-categoria-noticias{
	float:right;
	}
	
	.node-noticias .field-name-field-categoria-noticias .field-label{
		font-weight:normal !important;
	}

.node-noticias .field-name-body{
	border-top:#DFB134 2px solid;
	padding-top:15px;
	clear:both;
	}

.node-noticias .field-name-field-documentos-relacionados {padding: 20px 0;}

.field-name-field-galeria .sb-gallery-gallery{
	float: left;
	padding: 10px;
}

/*FORMS*/

.form-email {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*FOOTER*/

.footer {
	background:#0059A1;
	min-height:80px !important;
	color:#FFF !important;
	padding-top:20px;
	}
	
	.footer a {
		color:#FFF !important;
		font-size:0.9em;
		}
		
ul.foot-icons, ul.top-icons {
	list-style:none;
	text-align:center;
	margin:0 !important;
	padding:0 !important;
	}
	
	ul.foot-icons li, ul.top-icons li {
		display: inline-block;  
		display: -moz-inline-stack; /* hack FF 2 */
		*display: inline; /* hack IE 7 */		
		}
	
	ul.foot-icons li a, ul.top-icons li a {
		float:left;
		width:24px;
		height:24px;
		text-indent:-9999px;		
		}
	
	ul.foot-icons li a, ul.top-icons li a {
		margin:10px;
	}
	
	ul.top-icons li a {
		margin:8px 10px 0 10px;
	}
	
	ul.foot-icons .dir-icon a, ul.top-icons .dir-icon a {
		background:url(../images/phone-white-ico.png) no-repeat left top;
		}
		
	ul.foot-icons .mail-icon a {
		background:url(../images/mail-white-ico.png) no-repeat left top;
		}
		
	ul.top-icons .mail-icon a {
		background:url(../images/mail-yellow-ico.png) no-repeat left top;
		}		
		
	ul.foot-icons .fb-icon a, ul.top-icons .fb-icon a {
		background:url(../images/fb-white-ico.png) no-repeat left top;
		}

.logos {
	margin:15px 0 0 0;
	padding-top:5px;
	padding-bottom:5px;
	background:#EBF2DF;
	}	
		
	.logos div {
		text-align:center;
		}
		
.footer {
	margin-top:20px !important;
	}


/*Multimedia*/
.multi {
	padding-top: 20px;
}

	.multi h2{
		font-family: 'Cinzel', serif !Important;
	}

	.multi h2{
		text-align: center;
		text-transform: uppercase;
		color: #DFB134 !important;
		background:url(../images/bkg-h2-home.png) no-repeat center center;
	}

	.multi h3, .page-multimedia h3 {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
		color: #6E8E46 !important;
		font-size: 1.2em;
		margin-top: 5px !important;
		padding: 5px 0;
		padding-right: 25px;
		font-weight: bold !important;
	}

.ico-galeria_de_imagenes, .ico-video, .ico-audio {

}

.ico-galeria_de_imagenes{
	background:url(../images/ico-imagen.png) no-repeat top right;
}

.ico-audio{
	background:url(../images/ico-audio.png) no-repeat top right;
}

.ico-video{
	background:url(../images/ico-video.png) no-repeat top right;
}

/*Videos*/
.field-type-video-embed-field {
	padding: 35px 0;
}

.view-videos .views-row{
	height: 300px;
}

/*Audios*/
.field-name-field-audio {
	padding: 30px 0;
	float: left;
}
		
@media (min-width: 1200px) {
.footer {	
	background:#0059A1;
	height:130px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
.footer {	
	background:url(../images/cintillo-footer.jpg) no-repeat top !important;
	height:200px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.flexslider li .col-xs-12{
		margin:0 !important;
		padding:0 !important;
		}	
	.flex-caption {
		display:none;
		}
}

@media (max-width: 767px) {
	.flexslider li .col-xs-12{
		margin:0 !important;
		padding:0 !important;
		}	
	.flex-caption {
		display:none;
		}
	.node-noticias .field-name-field-categoria-noticias{
		float:left;
		clear:both;
	}
}

@media (max-width: 480px) {
	.flexslider li .col-xs-12{
		margin:0 !important;
		padding:0 !important;
		}
	
	.flex-caption {
	display:none;
		}
	.node-noticias .field-name-field-categoria-noticias{
		float:left;
		clear:both;
	}
}